# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "569de84beaea4dfa1eded757259a2385"
name = "worldpay-bridge-pay-for-sp"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]

[app_proxy]
url = "https://ideal-parakeet-p7qrx9vqww92rwqx-3457.app.github.dev/app/proxy"
subpath = "safe-pay"
prefix = "apps"
